################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PermissionControlAzureFunctions/.vs/PermissionControlAzureFunctions/v15
/.vs
/PermissionControlAzureFunctions/.vs/config/applicationhost.config
/PermissionControlAzureFunctions/PermissionControlAzureFunctions/Properties/PublishProfiles/PermissionControlAzureFunctionsDev - Web Deploy.pubxml
/PermissionControlAzureFunctions/.vs/PermissionControlAzureFunctions/v16/Server/sqlite3
